.App {
  text-align: left;
  min-width: 100vw;
  min-height: 100vh;
  margin-top: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
